/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/SimpleRemoteMethods.ServerSide.AssemblyInfo.cs
/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/SimpleRemoteMethods.ServerSide.AssemblyInfoInputs.cache
/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/SimpleRemoteMethods.ServerSide.assets.cache
/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/SimpleRemoteMethods.ServerSide.csproj.CoreCompileInputs.cache
/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/SimpleRemoteMethods.ServerSide.csprojAssemblyReference.cache
/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SimpleRemoteMethods.ServerSide/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SimpleRemoteMethods.ServerSide/obj/SimpleRemoteMethods.ServerSide.csproj.nuget.cache
/SimpleRemoteMethods.ServerSide/obj/SimpleRemoteMethods.ServerSide.csproj.nuget.g.props
/SimpleRemoteMethods.ServerSide/obj/SimpleRemoteMethods.ServerSide.csproj.nuget.g.targets
/SimpleRemoteMethods.ServerSide/obj/project.assets.json
/.vs/SimpleRemoteMethods/DesignTimeBuild/.dtbcache
/.vs/SimpleRemoteMethods/v15/.suo
/.vs/SimpleRemoteMethods/v15/Server/sqlite3/db.lock
/.vs/SimpleRemoteMethods/v15/Server/sqlite3/storage.ide
/.vs/SimpleRemoteMethods/v15/Server/sqlite3/storage.ide-shm
/.vs/SimpleRemoteMethods/v15/Server/sqlite3/storage.ide-wal
/SimpleRemoteMethods.Bases/bin/Debug/netstandard2.0/SimpleRemoteMethods.Bases.deps.json
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.AssemblyInfo.cs
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.AssemblyInfoInputs.cache
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.Bases.AssemblyInfo.cs
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.Bases.AssemblyInfoInputs.cache
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.Bases.assets.cache
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.Bases.csproj.CoreCompileInputs.cache
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.Bases.csproj.FileListAbsolute.txt
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.Bases.csprojAssemblyReference.cache
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.csproj.CoreCompileInputs.cache
/SimpleRemoteMethods.Bases/obj/Debug/netstandard2.0/SimpleRemoteMethods.csprojAssemblyReference.cache
/SimpleRemoteMethods.Bases/obj/SimpleRemoteMethods.Bases.csproj.nuget.cache
/SimpleRemoteMethods.Bases/obj/SimpleRemoteMethods.Bases.csproj.nuget.g.props
/SimpleRemoteMethods.Bases/obj/SimpleRemoteMethods.Bases.csproj.nuget.g.targets
/SimpleRemoteMethods.Bases/obj/SimpleRemoteMethods.csproj.nuget.cache
/SimpleRemoteMethods.Bases/obj/SimpleRemoteMethods.csproj.nuget.g.props
/SimpleRemoteMethods.Bases/obj/SimpleRemoteMethods.csproj.nuget.g.targets
/SimpleRemoteMethods.Bases/obj/project.assets.json
*.dll
*.pdb
*.cache
